<!DOCTYPE html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid bg-dark text-white">
        <nav class="navbar fixed-top">
            <span>
                <a href="/"><button class="btn btn-white text-white">Home</button></a>
                <a href="/products"><button class="btn btn-white text-white">List</button></a>
                <a href="/"><button class="btn btn-white text-white">users</button></a>
                <a href="/"><button class="btn btn-white text-white">About</button></a>
                <a href="/"><button class="btn btn-white text-white">Contact</button></a>
            </span>
        </nav>
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-12 text-center"><h1>Example for query lists.</h1></div>
            <table class="table table-striped bg-light col-lg-6 col-md-12">
                <thead>
                    <tr>
                        <th> ID </th>
                        <th> Name </th>
                        <th> Description </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td><span th:text="${product.id}"> ID </span></td>
                        <td><span th:text="${product.name}"> Name </span></td>
                        <td><span th:text="${product.description}"> Description </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>